.modal-dialog .modal-content .modal-header {
    flex-direction: row-reverse;
    border-bottom: none;
}

.modal-dialog .modal-content .enter-email {
    text-align: center;
    color: #727171;
}

.modal-dialog .modal-content .modal-header .modal-title {
    margin: 0 auto;
    font-family: Segoe UI;
    font-weight: 700;
}

.modal-dialog .modal-content .modal-header .close {
    margin: -1rem -1rem -1rem -1rem;
}

.modal-dialog .modal-content .modal-body {
    display: grid;
}

.modal-dialog .modal-content .modal-body .login-input {
    border: none;
    font-family: Segoe UI;
}

.modal-dialog .modal-content .modal-body .login-input:focus {
    outline: none;
}

.modal-dialog .modal-content .modal-body .btn-bg-next {
    background-color: #8A1D27;
    font-family: Segoe UI;
    color: white;
    padding: 10px 0px;
    margin-top: 40px;
}

.modal-dialog .modal-content .modal-body .btn-bg-back-login {
    background-color: #F2F1F1;
    font-family: Segoe UI;
    color: black;
    padding: 10px 0px;
    margin-top: 10px;
}

.modal-dialog .modal-content .modal-body .login-input-month {
    width: 33.3333333333333333%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal-dialog .modal-content .modal-body .login-input-date {
    width: 33.3333333333333333%;
}

.modal-dialog .modal-content .modal-body .login-input-year {
    width: 33.3333333333333333%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-dialog .modal-content .modal-body .span-input {
    background-color: #EAEAEA;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.modal-dialog .modal-content .modal-body .phone-input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal-dialog .modal-content .modal-body .common-label {
    color: #707070;
    font-family: Segoe UI;
}

.modal-dialog .modal-content .modal-body .verify-password-group {
    justify-content: space-between;
}

.modal-dialog .modal-content .modal-body .verify-password-group .verify-password-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.modal-dialog .modal-content .modal-body .verify-password-group .verify-password-span {
    background-color: #EAEAEA;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal-dialog .modal-content .modal-body .verify-password-group .verify-password-span i {
    cursor: pointer;
    color: #7D030E;
    font-size: 25px;
}

@media screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 430px !important;
    }
}